@import '../../assets/css/variables';

:host {
	display: block;
	width: 100%;
	background-color: $blue;
	box-shadow: 0 1px 6px rgba($blue, .5);
	position: relative;
	z-index: 1;
}

.header-container {
	@extend %container;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	padding: $small-spacing $medium-spacing $small-spacing 0;
}

.header-logo {
	width: 64px;
	height: 30px;

	img {
		width: inherit;
		height: inherit;
	}
}
