// COLORS
$white: #fff;
$black: #1a1a1a;
$blue: #003f60; // navbar
$lightblue: #0d6fa1; // filters
$teal: #12a99c; // search button
$lightgrey: #f8f8f8;
$grey: #d9d9d9;
$medgrey: #4a4a4a;

$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 24px;

%container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
