@import '../assets/css/normalize';
@import '../assets/css/variables';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $lightgrey;
	font-family: 'Open Sans', sans-serif;
	color: $blue;
	font-size: 14px;
}

[class^="icon__"], [class*=" icon__"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
