@import '../../assets/css/variables';

$header-height: 54px;
$header-video-height: 10px;
$header-female-height: 20px;
$header-cake-height: 15px;
$header-male-height: 20px;

:host {
	display: block;
	width: 100%;
}

.list-container {
	@extend %container;
	width: 100%;
	padding: 0 $small-spacing;
	color: $black;

	.list__item {
		background: $white;
		margin-bottom: $large-spacing;
	}

	.list__item-header {
		height: $header-height;
		border-bottom: 1px solid $grey;
		@include clearfix();
	}
}
